{% extends 'base.html' %}

{% block content %}

    <form method="POST" onsubmit="return submitForm();">
      {% csrf_token %}

    <details style="margin-top:25px;">

      <form onsubmit="return validateForm()">

      <summary style="margin-left:10px; font-weight:900; cursor: pointer;"
      >Прочие работы
      <label for="float-input" style="margin-left:60px;">Трудозатраты, дней:</label>
      <input type="number" step="0.1" id="Прочие работы" name="Прочие работы" placeholder="кол-во дней" style="width: 120px;" required required value="{{ other_jobs.0.days }}"/>
      </summary>
      <ul>
        <li class="item1">
          <details style="background-color: rgb(172, 165, 165);">
            <summary style="margin-left:40px; font-weight:normal; cursor: pointer;">
              <input type="checkbox" style="margin-right:5px;" class="list-item-checkbox" name="Приемка оборудования" value="Приемка оборудования" {% if 'Приемка оборудования' in names %} checked {% endif %}>
              Приемка оборудования
            </summary> 
            <ul>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Приемка оборудования на площадке Заказчика" value="Приемка оборудования на площадке Заказчика" {% if 'Приемка оборудования на площадке Заказчика' in names %} checked {% endif %}> 
                    Приемка оборудования на площадке Заказчика
                  </summary>
                </li>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Приемка оборудования на площадке Исполнителя" value="Приемка оборудования на площадке Исполнителя" {% if 'Приемка оборудования на площадке Исполнителя' in names %} checked {% endif %}>
                    Приемка оборудования на площадке Исполнителя
                  </summary>
              </li>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Приемка оборудования на площадке третьих лиц" value="Приемка оборудования на площадке третьих лиц" {% if 'Приемка оборудования на площадке третьих лиц' in names %} checked {% endif %}>
                    Приемка оборудования на площадке третьих лиц
                  </summary>
              </li>
          </ul>
          </details>
        </li>





<script>
  function submitForm() {
      var checkedItems = [];
      var checkboxes = document.querySelectorAll('.list-item-checkbox:checked');
      checkboxes.forEach(function(checkbox) {
          checkedItems.push(checkbox.value);
      });
      if (checkedItems.length === 0) {
        alert('Нужно отметить хотя бы один элемент');
        return false;
    } 
      else {
      document.getElementById('checked-items').value = checkedItems;
      document.getElementById('list-form').submit();
    }
}


function validateForm(event) {
  var inputs = document.getElementsByTagName("input");
  for (var i = 0; i < inputs.length; i++) {
    if (inputs[i].hasAttribute("required") && inputs[i].value === "") {
      alert('Пожалуйста, укажите трудозатраты, дней');
      return false;
    }
  }
  return true;
}
</script>

    <input type="hidden" id="checked-items" name="checked_items">
    <button style="margin-left:50px;" type="submit" class="btn btn-primary">Добавить в Расчет</button>
  </div>
  <a style="margin-left:20px;" class="btn btn-danger" href='delete'>Очистить</a>
  </div>
</form>
  </form>

    {% endblock %} 


    
