{% extends 'base.html' %}

{% block content %}


    <h6 style="margin-left:20px; font-weight: bold; cursor: pointer;" >Для расчет будут использованы следующие значения:</h6>

    <body>
        <table style="border-collapse: collapse; margin-left:20px;">
            <thead>
              <tr>
                <th style="border: 1px solid black; text-align: center; width: 30%;">Стоимость расходных материалов, руб.</th>
              </tr>
            </thead>
            <tbody>
              {% for data in perechen %}
              <tr>
                <td style="border: 1px solid black; text-align: center;">{{data.total_price}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

    </body>
</div>
<a style="margin-top:5px; margin-left:20px;" class="btn btn-danger" href='/other'>Редактировать</a>
</div>


    {% endblock %} 