{% extends 'base.html' %}
{% load static %}
	  {% block content %}
    <div class="intro">
      <div class="video">
          <video class="video__media" src="{% static 'video/coverr-typing.mp4' %}" autoplay muted loop></video>
      </div>

      <div class="intro__content">
            <div class="container">
				<div class="visible">
					<h3 class="intro_1">Инструкция для Presale-инженера</h3>
					<h3 class="intro_1">Авторизоваться/Зарегестрироваться на сайте</h3>
					<h3 class="intro_1">Указать сложность проекта для расчета трудозатрат</h3>
					<h3 class="intro_1">Пройти по вкладкам в зависимости от того какие этапы работ необходимо выполнить, отметить типы работ, указать общее время работ по каждому этапу</h3>
					<h3 class="intro_1">Отправить результат менеджеру проекта</h3>
				</div>
			</div>
      </div>
  </div>
	  {% endblock %}
