{% extends 'base.html' %}
{% load static %}
	  {% block content %}
    <div class="intro">
      <div class="video">
          <video class="video__media" src="{% static 'video/coverr-typing.mp4' %}" autoplay muted loop></video>
      </div>

      <div class="intro__content">
            <div class="container">
				<div class="visible">
					<h3 class="intro_1" style="font-size: 30px;">Инструкция для Presale-инженера, менеджера проекта</h3>
					<h3 class="intro_1" style="font-size: 30px;">Чтобы рассчитать стоимость работ по проекту необходимо:</h3>
					<h3 class="intro_1" style="font-size: 30px;">Указать сложность проекта для расчета трудозатрат на вкладке Rates</h3>
					<h3 class="intro_1" style="font-size: 30px;">На каждой вкладке отметить типы работ и срок выполнения</h3>
					<h3 class="intro_1" style="font-size: 30px;">На вкладке Output можно скачать готовое КП с расчетом стоимости</h3>
				</div>
			</div>
      </div>
  </div>
	  {% endblock %}
