{% extends 'base.html' %}

	  {% block content %}

      <form method="POST" onsubmit="return validateForm();">
        {% csrf_token %}
        <details style="margin-top:25px;">
            <summary style="margin-left:10px; font-weight:900; cursor: pointer;"
            >Необходимо указать наименование подрядичка, работы проводимые подрядчиком и стоимость работ: 
            </summary>

            {% for field in form %}
            <hr>
            <p style="margin-left:20px;"> 
                {{field.label}}
                {{field}}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>
                                <div class="text-danger">{{error}}</div>
                            </li>
                        {% endfor %}
                    </ul>
    
                {% endif %}
            </p>
        {% endfor %}
	  <button style="margin-left:20px;" type="submit" class="btn btn-primary">Сохранить</button>
    </details>
	</form>

</details>

	  {% endblock %}