{% extends 'base.html' %}

{% block content %}

    <form method="POST" onsubmit="return submitForm();">
      {% csrf_token %}

    <details style="margin-top:25px;">

      <summary style="margin-left:10px; font-weight:900; cursor: pointer;"
      >Обследование СПД
      <label for="float-input" style="margin-left:60px;">Трудозатраты, дней:</label>
      <input type="number" step="0.1" id="Обследование СПД" name="Обследование СПД" />
      </summary>
      <ul>
        <li class="item1">
          <details style="background-color: rgb(172, 165, 165);">
            <summary style="margin-left:40px; font-weight:normal; cursor: pointer;">
              <input type="checkbox" style="margin-right:5px;" class="list-item-checkbox" name="Сбор данных" value="Сбор данных">
              Сбор данных
            </summary> 
            <ul>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Интервьюирование Заказчика" value="Интервьюирование Заказчика">
                    Интервьюирование Заказчика
                  </summary>
                </li>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Запрос имеющейся документации СПД регламентов и т. п." value="Запрос имеющейся документации СПД регламентов и т. п.">
                    Запрос имеющейся документации СПД регламентов и т. п.
                  </summary>
              </li>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Визуальный осмотр сетевого оборудования" value="Визуальный осмотр сетевого оборудования">
                    Визуальный осмотр сетевого оборудования
                  </summary>
              </li>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сбор данных об условиях эксплуатации" value="Сбор данных об условиях эксплуатации">
                    Сбор данных об условиях эксплуатации
                  </summary>
              </li>
              <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сбор данных о сетевом оборудоровании и его назначении (инвентаризация)" value="Сбор данных о сетевом оборудоровании и его назначении (инвентаризация)">
                  Сбор данных о сетевом оборудоровании и его назначении (инвентаризация)
                </summary>
              </li>
            <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сбор конфигурации сетевого оборудования" value="Сбор конфигурации сетевого оборудования">
                  Сбор конфигурации сетевого оборудования
                </summary>
            </li>
            <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сбор данных об схемах адресации" value="Сбор данных об схемах адресации">
                  Сбор данных об схемах адресации
                </summary>
            </li>
            <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сбор данных об сетевых инфраструктурных сервисах" value="Сбор данных об сетевых инфраструктурных сервисах">
                  Сбор данных об сетевых инфраструктурных сервисах
                </summary>
            </li>
            <li>
              <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сбор данных об системах управления" value="Сбор данных об системах управления">
                Сбор данных об системах управления
              </summary>
          </li>
          <li>
              <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сбор данных о каналах WAN" value="Сбор данных о каналах WAN">
                Сбор данных о каналах WAN
              </summary>
          </li>
          </ul>
          </details>
        </li>

        <li>
          <details style="background-color: rgb(172, 165, 165);">
            <summary style="margin-left:40px; font-weight:normal; cursor: pointer;">
              <input type="checkbox" style="margin-right:5px;" class="list-item-checkbox" name="Анализ собранных данных" value="Анализ собранных данных">
              Анализ собранных данных
              </summary> 
              <ul>
                <li>
                    <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                      <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Проведение анализа собранных данных" value="Проведение анализа собранных данных">
                      Проведение анализа собранных данных
                    </summary>
                  </li>
            </ul>
      </details>


      <li>
        <details style="background-color: rgb(172, 165, 165);"> 

          <summary style="margin-left:40px; font-weight:normal; cursor: pointer;">
            <input type="checkbox" style="margin-right:5px;" class="list-item-checkbox" name="Разработка отчета о текущем состоянии:" value="Разработка отчета о текущем состоянии:">
            Разработка отчета о текущем состоянии:
            </summary> 
            <ul>
              <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Описание текущего состоянии сети" value="Описание текущего состоянии сети">
                    Описание текущего состоянии сети
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Описание используемых протоколов/технологий/решений" value="Описание используемых протоколов/технологий/решений">
                    Описание используемых протоколов/технологий/решений
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Сетевые схемы отражающие текущее состояние сети" value="Сетевые схемы отражающие текущее состояние сети">
                    Сетевые схемы отражающие текущее состояние сети
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Схема размещения оборудования" value="Схема размещения оборудования">
                    Схема размещения оборудования
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Схемы/таблицы подключения оборудования" value="Схемы/таблицы подключения оборудования">
                    Схемы/таблицы подключения оборудования
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Инвентаризация существующего сетевого оборудования" value="Инвентаризация существующего сетевого оборудования">
                    Инвентаризация существующего сетевого оборудования
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Интентаризация используемых каналов WAN" value="Интентаризация используемых каналов WAN">
                    Интентаризация используемых каналов WAN
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Описание выявленых проблем и недостататков" value="Описание выявленых проблем и недостататков">
                    Описание выявленых проблем и недостататков
                  </summary>
                </li>
                <li>
                  <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                    <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Реестр текущих проблем с ранжированием по критичности" value="Реестр текущих проблем с ранжированием по критичности">
                    Реестр текущих проблем с ранжированием по критичности
                  </summary>
                </li>
          </ul>
    </details>

    <li>
      <details style="background-color: rgb(172, 165, 165);">

        <summary style="margin-left:40px; font-weight:normal; cursor: pointer;">
          <input type="checkbox" style="margin-right:5px;" class="list-item-checkbox" name="Разработка рекомендаций по устранению выявленных недостков:" value="Разработка рекомендаций по устранению выявленных недостков:">
          Разработка рекомендаций по устранению выявленных недостков:
          </summary> 
          <ul>
            <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по корректировке недостатков в конфигурациях" value="Рекомендации по корректировке недостатков в конфигурациях">
                  Рекомендации по корректировке недостатков в конфигурациях
                </summary>
              </li>
              <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по поддержке функционирования сетевого оборудования" value="Рекомендации по поддержке функционирования сетевого оборудования">
                  Рекомендации по поддержке функционирования сетевого оборудования
                </summary>
              </li>
              <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по сетевым протоколам/решениям/технологиям" value="Рекомендации по сетевым протоколам/решениям/технологиям">
                  Рекомендации по сетевым протоколам/решениям/технологиям
                </summary>
              </li>
              <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по организации инфраструктурных сетевых сервисов" value="Рекомендации по организации инфраструктурных сетевых сервисов">
                  Рекомендации по организации инфраструктурных сетевых сервисов
                </summary>
              </li>
              <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по организации отказоустойчивости и катастофоустойчивости сетевой инфраструктуры" value="Рекомендации по организации отказоустойчивости и катастофоустойчивости сетевой инфраструктуры">
                  Рекомендации по организации отказоустойчивости и катастофоустойчивости сетевой инфраструктуры
                </summary>
              </li>
              <li>
                <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                  <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по обеспечению сетевой безопасности" value="Рекомендации по обеспечению сетевой безопасности">
                  Рекомендации по обеспечению сетевой безопасности
                </summary>
              </li>
        </ul>
  </details>


  <li>
    <details style="background-color: rgb(172, 165, 165);">

      <summary style="margin-left:40px; font-weight:normal; cursor: pointer;">
        <input type="checkbox" style="margin-right:5px;" class="list-item-checkbox" name="Разработка рекомендаций по развитию сети:" value="Разработка рекомендаций по развитию сети:">
        Разработка рекомендаций по развитию сети:
        </summary> 
        <ul>
          <li>
              <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по развитию логической архитектуры сети" value="Рекомендации по развитию логической архитектуры сети">
                Рекомендации по развитию логической архитектуры сети
              </summary>
            </li>
            <li>
              <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по повышению отказоустойчивости и катастрофоустойчивости сети" value="Рекомендации по повышению отказоустойчивости и катастрофоустойчивости сети">
                Рекомендации по повышению отказоустойчивости и катастрофоустойчивости сети
              </summary>
            </li>
            <li>
              <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по развитию сетевой инфраструктуры (оборудование/каналы)" value="Рекомендации по развитию сетевой инфраструктуры (оборудование/каналы)">
                Рекомендации по развитию сетевой инфраструктуры (оборудование/каналы)
              </summary>
            </li>
            <li>
              <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по развитию инфраструктурных сервисов" value="Рекомендации по развитию инфраструктурных сервисов">
                Рекомендации по развитию инфраструктурных сервисов
              </summary>
            </li>
            <li>
              <summary style="margin-left:60px; font-weight:normal; cursor: pointer;">
                <input type="checkbox" style="margin-right:20px;" class="list-item-checkbox" name="Рекомендации по повышению сетевой безопасности" value="Рекомендации по повышению сетевой безопасности">
                Рекомендации по повышению сетевой безопасности
              </summary>
            </li>
      </ul>
</details>




<script>
  function submitForm() {
      var checkedItems = [];
      var checkboxes = document.querySelectorAll('.list-item-checkbox:checked');
      checkboxes.forEach(function(checkbox) {
          checkedItems.push(checkbox.value);
      });
      if (checkedItems.length === 0) {
        alert('Нужно отметить хотя бы один элемент');
        return false;
    } 
      else {
      document.getElementById('checked-items').value = checkedItems;
      document.getElementById('list-form').submit();
    }
}
</script>

    <input type="hidden" id="checked-items" name="checked_items">
    <button style="margin-left:50px;" type="submit" class="btn btn-primary">Добавить в Расчет</button>
  </div>
  <a style="margin-left:20px;" class="btn btn-danger" href='delete'>Очистить</a>
  </div>
  </form>

    {% endblock %} 


    
