{% extends "base.html" %}

{% block content %}

<table id="finalTable" style="border-collapse: collapse; margin-left:20px; margin-right:20px; margin-top:25px;">
    <thead>
      <tr>
        <th style="border: 1px solid black; text-align: center; width: 30%; background-color: rgb(228, 228, 221)"">Наименование подрядчика</th>
        <th style="border: 1px solid black; text-align: center; width: 30%; background-color: rgb(228, 228, 221);"">Наименование работ</th>
        <th style="border: 1px solid black; text-align: center; width: 30%; background-color: rgb(228, 228, 221);"">Сумма с НДС, руб</th>
      </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td style="border: 1px solid black; text-align: center;">{{item.subcontract_name}}</td>
            <td style="border: 1px solid black; text-align: center;">{{item.subcontract_jobs}}</td>
            <td style="border: 1px solid black; text-align: center;">{{item.subcontract_price}}</td>
            <td>
                <a style="margin-left:20px;" class="btn btn-warning" href="{% url 'update_subcontractor' item.id %}">редактировать</a>
            </td>
            <td>
                <a style="margin-left:20px;" class="btn btn-danger" href="{% url 'delete_subcontractor' item.id %}">удалить</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

<a style="margin-left:20px; margin-top:20px;" class="btn btn-primary" href="{% url 'create_subcontractor' %}">Добавить подрядчика</a>


{% endblock %}





